/* Navigation styles */
.homepic {
	background: white;
	height: 462px;
	background-image: url("./../images/DreFasecolda.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 0 0rem;
}

.nav {
	display: flex;
	padding: 20px;
	font-size: 18px;
	font-family: arial;
	height: 50px;
	justify-content: space-around;
	align-items: center;
}

.left,
.center,
.right {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left,
.right {
	width: 25%;
}

.right button {
	background-color: yellow;
	color: black;
	font-size: 16px;
	padding: 15px;
	width: 50%;
}

.left button {
	background-color: skyblue;
	color: black;
	font-size: 16px;
	padding: 15px;
	width: 50%;
}

/* Column styles */
.column {
	display: flex;
	height: 1200px;
	width: 800px;
	flex-direction: column;
	margin: 0 auto;
}

.aboutme {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}

.aboutme {
	margin-top: 20px;
	background-image: url("./../images/AboutPic.png");
	background-repeat: no-repeat;
	background-position: center;
}

.text {
	background: rgb(0, 0, 0, 0.7);
	width: 100%;
	padding: 20px 40px;
	color: white;
}

.text p {
	color: rgba(255, 255, 255, 0.7);
	font-family: Arial, Helvetica, sans-serif;
}

.text h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* Footer Styles */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(248, 249, 250);
	height: 100px;
}

.footer a {
	padding: 20px 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.ig {
	color: red;
}

.LinkedIn {
	color: rgb(70, 98, 192);
}

.GitHub {
	color: rgb(78, 61, 207);
}

@media (min-width: 576px) {
	.custom-class {
		display: block;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.custom-class {
		display: block;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.custom-class {
		display: block;
	}
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.custom-class {
		display: block;
	}
}
